.pageContainer {
    --bs-bg-opacity: 1;
    background-color: black;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

p {
    display: block;
    padding-top: 20px;
    margin-block-start: 5em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 5px;
    max-width: 540px;
}

@media (max-width: 768px) {

    .rightSideContainer {
        display: none;
    }
}
@media (max-width: 992px) {
    .rightSideContainer {
        left: auto;
        right: 20px;
    }
}
.rightSideContainer {
    /* display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative; */

    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: var(--light-slate);
    
}
.rightSide{
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.homeContainer {
    padding-left: .5cm;
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;    
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0px;
}
.home h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(0, 102, 255); /* The typwriter cursor */
    border-left: .5em;
    white-space: nowrap; /* Keeps the content on a single line */
    /*margin: 0 auto;  Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    white-space: pre;
    animation: 
        typing 2.5s steps(11, end),
        blink-caret .8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 119, 255); }
  }

.smallText{
    font-size: small;
    color:rgb(6, 158, 247);
    text-align: left;
    justify-content: center;
    line-height: 1.0;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-inline-start: 5px;
    margin-inline-end: 0px;
}
.largeText{
    font-size: clamp(50px, 9vw, 100px);
    text-align: left;
    justify-content: center;
    line-height: 1.0;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.medText{
    font-size: clamp(30px, 6vw, 70px);
    color:rgb(6, 158, 247);
    text-align: left;
    justify-content: center;
    line-height: 1.0;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}